body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .schedule {
    width: 80%;
  
  }
  
  h1 {
    text-align: center;
    color: #333;
    }
  
  label {
    display: block;
    margin: 15px 0 5px;
  }
  
  select,
  input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  #schedule {
    margin-top: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th,
  td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #007bff;
    color: white;
  }
  
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
  }
  
  .instructions {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    margin: 10px 0;
    font-size: 1.1em;
  }
  
  .instruction-step {
    margin-bottom: 30px;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 10px auto;
  }
  
  .highlight {
    font-weight: bold;
    color: #007bff;
  }